@charset "UTF-8";
/*  reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive; }

body {
  background-color: #2a0f13; }

/* index */
.bodyIndex {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.4fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  .bodyIndex .mainIndex .sectionIndex {
    display: flex;
    margin: 20px;
    gap: 20px;
    justify-content: center; }
    .bodyIndex .mainIndex .sectionIndex .articleImg {
      display: flex; }
      .bodyIndex .mainIndex .sectionIndex .articleImg .imgBanda {
        color: white;
        width: 1024px;
        align-self: center;
        border-radius: 5px; }
    .bodyIndex .mainIndex .sectionIndex .articleIntro {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: transparent;
      color: white;
      width: 700px;
      height: fit-content;
      padding: 20px;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
      gap: 20px;
      border-radius: 5px; }
      .bodyIndex .mainIndex .sectionIndex .articleIntro p {
        font-size: 20px;
        margin: 0px; }

/* nosotros */
.bodyNosotros {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.4fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  .bodyNosotros .mainNosotros {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center; }
    .bodyNosotros .mainNosotros .card {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      color: white;
      width: 450px;
      height: 700px;
      padding: 20px;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
      gap: 10px;
      border-radius: 5px; }
      .bodyNosotros .mainNosotros .card img {
        width: 400px;
        height: 300px;
        border-radius: 5px; }
      .bodyNosotros .mainNosotros .card p {
        font-size: 22px;
        font-weight: lighter;
        text-align: center; }

/* música */
.bodyMusica {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.4fr;
  grid-template-areas: "header header" "main main" "footer footer"; }
  .bodyMusica .mainMusica {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; }
    .bodyMusica .mainMusica section {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      color: white;
      width: 550px;
      height: fit-content;
      padding: 20px;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
      border-radius: 5px; }
    .bodyMusica .mainMusica .sectionAdelanto {
      width: fit-content;
      height: fit-content; }
      .bodyMusica .mainMusica .sectionAdelanto p {
        font-size: 25px;
        text-align: center;
        margin: 0px; }
    .bodyMusica .mainMusica .sectionUno {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .bodyMusica .mainMusica .sectionUno img {
        width: 500px;
        border-radius: 5px; }
      .bodyMusica .mainMusica .sectionUno p {
        font-size: 22px;
        margin: 10px; }

/* noticias */
.bodyNoticias {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.4fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  .bodyNoticias .mainNoticias {
    margin: 20px;
    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center; }
    .bodyNoticias .mainNoticias section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: transparent;
      color: white;
      width: fit-content;
      height: fit-content;
      padding: 20px;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
      gap: 20px;
      border-radius: 5px; }
      .bodyNoticias .mainNoticias section .imgUno {
        width: 600px;
        height: 400px;
        border-radius: 5px;
        align-self: center; }
      .bodyNoticias .mainNoticias section .imgDos {
        width: 400px;
        height: 600px;
        border-radius: 5px;
        align-self: center; }
      .bodyNoticias .mainNoticias section p {
        width: 400px; }

/* contacto */
.bodyContacto {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.4fr;
  grid-template-areas: "header header" "main main" "footer footer"; }
  .bodyContacto .mainContacto {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bodyContacto .mainContacto .formulario {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      color: white;
      width: 600px;
      height: fit-content;
      padding: 20px;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
      gap: 20px;
      border-radius: 5px; }
      .bodyContacto .mainContacto .formulario .formColor {
        color: white; }
        .bodyContacto .mainContacto .formulario .formColor .formStyle {
          display: flex;
          flex-direction: column;
          gap: 50px; }
          .bodyContacto .mainContacto .formulario .formColor .formStyle legend {
            text-align: center;
            font-size: 35px; }
          .bodyContacto .mainContacto .formulario .formColor .formStyle .opcionesForm {
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: 22px; }
          .bodyContacto .mainContacto .formulario .formColor .formStyle .botonForm {
            display: flex;
            justify-content: center;
            gap: 20px;
            font-size: 22px; }
            .bodyContacto .mainContacto .formulario .formColor .formStyle .botonForm input {
              border-radius: 5px;
              width: 60px; }

/* header */
header {
  grid-area: header;
  display: flex;
  background-color: black;
  align-items: center;
  height: fit-content;
  /* nav */ }
  header .menu {
    margin: 20px;
    width: 100%;
    display: flex; }
    header .menu .latido {
      width: 200px;
      height: 70px;
      animation: latidos 3s infinite;
      transform-origin: center; }
      header .menu .latido a {
        color: rgba(255, 0, 0, 0.3);
        text-decoration: none; }
    header .menu ul li {
      list-style-type: none;
      font-size: 40px;
      margin: 5px;
      display: inline-block; }
      header .menu ul li a {
        text-decoration: none;
        color: white; }
      header .menu ul li a:hover {
        color: rgba(255, 0, 0, 0.3); }

/* animacion de latido */
@keyframes latidos {
  from {
    transform: none; }
  50% {
    transform: scale(1.05); }
  to {
    transform: none; } }

/* main */
main {
  grid-area: main; }

/* footer */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: fit-content; }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px; }
    footer div .instagram {
      filter: grayscale(1);
      width: 50px; }
  footer h1 {
    font-size: 22px;
    font-weight: 125;
    color: white;
    text-align: center; }

/* medias queries */
@media only screen and (max-width: 768px) {
  .bodyIndex .mainIndex .sectionIndex {
    flex-direction: column;
    align-items: center; }
  .bodyNosotros .mainNosotros .card {
    height: 750px; }
  .bodyMusica .mainMusica {
    height: 120vh; }
  .bodyContacto .mainContacto {
    height: 130vh; } }

@media only screen and (min-width: 1024px) {
  header .menu .latido {
    font-size: 50px; }
  .bodyNoticias .mainNoticias {
    display: flex;
    flex-direction: row; }
    .bodyNoticias .mainNoticias section {
      font-size: 20px; }
  .bodyNosotros .mainNosotros .card p {
    font-size: 20px; } }

@media only screen and (max-width: 1024px) {
  header .menu {
    text-align: end; }
    header .menu .navbar-toggler {
      background-color: rgba(255, 0, 0, 0.3); } }
