@import "base/variables";
@import "base/mixins";

/*  reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: $color-principal;
}

@import "index";
@import "nosotros";
@import "musica";
@import "noticias";
@import "contacto";

/* header */

header {
    grid-area: header;
    display: flex;
    background-color: $color-secundario;
    align-items: center;
    height: fit-content;

    /* nav */
    .menu {
        margin: 20px;
        width: 100%;
        display: flex;

        .latido {
            width: 200px;
            height: 70px;
            animation: latidos 3s infinite;
            transform-origin: center;

            a {
                color: $color-complementario;
                text-decoration: none;
            }


        }

        ul li {
            list-style-type: none;
            font-size: 40px;
            margin: 5px;
            display: inline-block;

            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                color: $color-complementario;
            }
        }
    }
}



/* animacion de latido */
@keyframes latidos {
    from {
        transform: none;
    }

    50% {
        transform: scale(1.05);
    }

    to {
        transform: none;
    }
}

/* main */
main {
    grid-area: main;
}

/* footer */
footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: $color-secundario;
    align-items: center;
    justify-content: center;
    height: fit-content;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px;

        .instagram {
            filter: grayscale(1);
            width: 50px;
        }
    }

    h1 {
        font-size: 22px;
        font-weight: 125;
        color: white;
        text-align: center;
    }
}

/* medias queries */

@media only screen and (max-width:765px) {
    .bodyIndex{
        .mainIndex{
            height: 150vh;
        }
    }
    .bodyMusica {
        .mainMusica {
            height: 120vh;
        }
    }

    .bodyContacto {
        .mainContacto {
            height: 130vh;
        }
    }
}

@media only screen and(min-width:1024px) {
    header {
        .menu {
            .latido {
                font-size: 50px;
            }
        }
    }

    .bodyNoticias {
        .mainNoticias {
            display: flex;
            flex-direction: row;

            section {
                width: 450px;
                font-size: 20px;
            }
        }
    }

    .bodyNosotros {
        .mainNosotros {
            .card {
                p {
                    font-size: 20px;
                }
            }
        }
    }


}

@media only screen and (max-width:1024px) {
    header {
        .menu {
            text-align: end;

            .navbar-toggler {
                background-color: $color-complementario;
            }
        }
    }


}